**Importing most important libraries**

In [18]:
import pandas as pd
import numpy as np

# **1-Data preprocessing**

**Reading the given dataset**

In [19]:
# Reading the csv file using the function 'read_csv' from pandas libraray, and converting it into a dataframe.
food=pd.read_csv('/content/dataset.csv')

In [20]:
# observing the dataframe
food

,I_Id,I_W,I_Fat_C,I_Vis,I_MRP_JD,I_category,I_MRP_US,O_Id,O_Establ_Y,O_Size,I_Recalled,O_Loc_T,O_T,I_O_Sales
0,FDA15,9.300,Low Fat,0.016172,225.644532,Dairy,317.8092,OUT049,2009,Medium,NO,Tier 1,Carrefour,3915.1380
1,DRC01,5.920,Regular,0.019403,82.551132,Soft Drinks,116.2692,OUT018,2019,Medium,YES,Tier 3,C-Town,623.4228
2,FDN15,17.500,Low Fat,0.016885,148.828780,Meat,209.6180,OUT049,2009,Medium,NO,Tier 1,Carrefour,2277.2700
3,FDX07,19.200,Regular,0.000000,177.567450,Fruits and Vegetables,250.0950,OUT010,2008,NaN,NO,Tier 3,Family Basket,912.3800
4,NCD19,8.930,Low Fat,0.000000,86.521594,Household,121.8614,OUT013,1997,High,NO,Tier 3,Carrefour,1174.7052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056908,200.590478,Snack Foods,282.5218,OUT013,1997,High,NO,Tier 3,Carrefour,2958.3834
8519,FDS36,8.380,Regular,0.047107,125.071470,Baking Goods,176.1570,OUT045,2012,NaN,NO,Tier 2,Carrefour,729.2850
8520,NCJ29,10.600,Low Fat,0.035311,108.716904,Health and Hygiene,153.1224,OUT035,2014,Small,NO,Tier 2,Carrefour,1373.1136
8521,FDN46,7.210,Regular,0.145346,121.504572,Snack Foods,171.1332,OUT018,2019,Medium,NO,Tier 3,C-Town,2025.5976
8522,DRG01,14.800,Low Fat,0.045003,101.861570,Soft Drinks,143.4670,OUT046,2007,Small,NO,Tier 1,Carrefour,945.6700

### **Exploring the data**

In [21]:
# giving general information of each column
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   I_Id        8523 non-null   object
 1   I_W         7060 non-null   float64
 2   I_Fat_C     8523 non-null   object
 3   I_Vis       8523 non-null   float64
 4   I_MRP_JD    8523 non-null   float64
 5   I_category  8523 non-null   object
 6   I_MRP_US    8523 non-null   float64
 7   O_Id        8523 non-null   object
 8   O_Establ_Y  8523 non-null   int64
 9   O_Size      6113 non-null   object
 10  I_Recalled  8523 non-null   object
 11  O_Loc_T     8523 non-null   object
 12  O_T         8523 non-null   object
 13  I_O_Sales   8523 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 932.3+ KB

In [22]:
# Giving information about the number of missing values in each feature:
food.isnull().sum()

I_Id             0
I_W           1463
I_Fat_C          0
I_Vis            0
I_MRP_JD         0
I_category       0
I_MRP_US         0
O_Id             0
O_Establ_Y       0
O_Size        2410
I_Recalled       0
O_Loc_T          0
O_T              0
I_O_Sales        0
dtype: int64

In [23]:
# Giving summary of the statistical properties of a dataframe for numerical values
food.describe()

,I_W,I_Vis,I_MRP_JD,I_MRP_US,O_Establ_Y,I_O_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066249,148.384875,208.992782,2007.831867,2361.288914
std,4.643456,0.051608,44.215297,62.275067,8.371760,1706.499616
min,4.555000,0.000000,70.495900,99.290000,1995.000000,213.290000
25%,8.773750,0.027114,114.896815,161.826500,1997.000000,1014.247400
50%,12.600000,0.054056,149.819088,211.012800,2009.000000,1974.331000
75%,16.850000,0.094710,180.087027,253.643700,2014.000000,3281.296400
max,21.350000,0.328516,237.770764,334.888400,2019.000000,13266.964800

### **Data Cleaning**

In [24]:
# I_Vis represents how much space is dedicated to displaying a specific product within a store
# therefore it shouldn't contain zeros
#food['I_Vis']=food['I_Vis'].replace(0,'unkown')
food['I_Vis'] = food['I_Vis'].fillna(food['I_Vis'].mean())

In [25]:
# filling the missing values in the wight column with the mean
food['I_W'] = food['I_W'].fillna(food['I_W'].mean())

In [26]:
# filling the missing values in the size column with the mode
food['O_Size'] = food['O_Size'].fillna(food['O_Size'].mode()[0])

In [27]:
# dropping the unnecessary features
food.drop('I_Id', axis=1, inplace=True)
food.drop('O_Id', axis=1, inplace=True)

food.drop('I_MRP_JD', axis=1, inplace=True)# because the final sales are in dollars

In [28]:
food

,I_W,I_Fat_C,I_Vis,I_category,I_MRP_US,O_Establ_Y,O_Size,I_Recalled,O_Loc_T,O_T,I_O_Sales
0,9.300,Low Fat,0.016172,Dairy,317.8092,2009,Medium,NO,Tier 1,Carrefour,3915.1380
1,5.920,Regular,0.019403,Soft Drinks,116.2692,2019,Medium,YES,Tier 3,C-Town,623.4228
2,17.500,Low Fat,0.016885,Meat,209.6180,2009,Medium,NO,Tier 1,Carrefour,2277.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,250.0950,2008,Medium,NO,Tier 3,Family Basket,912.3800
4,8.930,Low Fat,0.000000,Household,121.8614,1997,High,NO,Tier 3,Carrefour,1174.7052
...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056908,Snack Foods,282.5218,1997,High,NO,Tier 3,Carrefour,2958.3834
8519,8.380,Regular,0.047107,Baking Goods,176.1570,2012,Medium,NO,Tier 2,Carrefour,729.2850
8520,10.600,Low Fat,0.035311,Health and Hygiene,153.1224,2014,Small,NO,Tier 2,Carrefour,1373.1136
8521,7.210,Regular,0.145346,Snack Foods,171.1332,2019,Medium,NO,Tier 3,C-Town,2025.5976
8522,14.800,Low Fat,0.045003,Soft Drinks,143.4670,2007,Small,NO,Tier 1,Carrefour,945.6700

### **Data Integration**

In [29]:
food.I_Fat_C.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [30]:
#make all the values in 'I_Fat_C' (Low Fat,Regular)
food['I_Fat_C'].replace({'low fat':'Low Fat','LF':'Low Fat','reg':'Regular'},inplace = True)

### **Data Transformation**

***using one hot encoder***

In [31]:
# using one hot encoder for nominal data
ho_en_food1 = pd.get_dummies(food[['I_Fat_C']])
ho_en_food2 = pd.get_dummies(food[['I_category']])
#ho_en_food3 = pd.get_dummies(food[['O_T']]) dependent variable
ho_en_food4 = pd.get_dummies(food[['I_Recalled']])

In [32]:
# adding them to the original dataset

food = food.drop(['I_Fat_C'],axis = 1 )
food = pd.concat([food,ho_en_food1],axis = 1)

food = food.drop(['I_category'],axis = 1 )
food = pd.concat([food,ho_en_food2],axis = 1)

food = food.drop(['I_Recalled'],axis = 1 )
food = pd.concat([food,ho_en_food4],axis = 1)

***Using label encoder***

In [33]:
# using label encoder for categorical variable
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
food['O_Size'] = LE.fit_transform(food['O_Size'])
food['O_Loc_T'] = LE.fit_transform(food['O_Loc_T'])

In [34]:
food

,I_W,I_Vis,I_MRP_US,O_Establ_Y,O_Size,O_Loc_T,O_T,I_O_Sales,I_Fat_C_Low Fat,I_Fat_C_Regular,...,I_category_Health and Hygiene,I_category_Household,I_category_Meat,I_category_Others,I_category_Seafood,I_category_Snack Foods,I_category_Soft Drinks,I_category_Starchy Foods,I_Recalled_NO,I_Recalled_YES
0,9.300,0.016172,317.8092,2009,1,0,Carrefour,3915.1380,1,0,...,0,0,0,0,0,0,0,0,1,0
1,5.920,0.019403,116.2692,2019,1,2,C-Town,623.4228,0,1,...,0,0,0,0,0,0,1,0,0,1
2,17.500,0.016885,209.6180,2009,1,0,Carrefour,2277.2700,1,0,...,0,0,1,0,0,0,0,0,1,0
3,19.200,0.000000,250.0950,2008,1,2,Family Basket,912.3800,0,1,...,0,0,0,0,0,0,0,0,1,0
4,8.930,0.000000,121.8614,1997,0,2,Carrefour,1174.7052,1,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.056908,282.5218,1997,0,2,Carrefour,2958.3834,1,0,...,0,0,0,0,0,1,0,0,1,0
8519,8.380,0.047107,176.1570,2012,1,1,Carrefour,729.2850,0,1,...,0,0,0,0,0,0,0,0,1,0
8520,10.600,0.035311,153.1224,2014,2,1,Carrefour,1373.1136,1,0,...,1,0,0,0,0,0,0,0,1,0
8521,7.210,0.145346,171.1332,2019,1,2,C-Town,2025.5976,0,1,...,0,0,0,0,0,1,0,0,1,0
8522,14.800,0.045003,143.4670,2007,2,0,Carrefour,945.6700,1,0,...,0,0,0,0,0,0,1,0,1,0

In [35]:
#creating new data frames and storing the original data frame in order to try each dataframe alone to know which is better in machine learning with normalization or without.

foodKNN=food # for KNN algorithm
foodLR=food  # for LR algorithm

In [36]:
type(foodKNN)

pandas.core.frame.DataFrame

### **Data Normalization**

**Data Normalization using Min-Max for the KNN algorithms**

In [37]:
foodKNN['I_Vis']=(foodKNN['I_Vis']-foodKNN['I_Vis'].min())/(foodKNN['I_Vis'].max()-foodKNN['I_Vis'].min())
foodKNN['I_MRP_US']=(foodKNN['I_MRP_US']-foodKNN['I_MRP_US'].min())/(foodKNN['I_MRP_US'].max()-foodKNN['I_MRP_US'].min())
foodKNN['I_O_Sales']=(foodKNN['I_O_Sales']-foodKNN['I_O_Sales'].min())/(foodKNN['I_O_Sales'].max()-foodKNN['I_O_Sales'].min())  # ??

In [38]:
foodKNN.head(4)

,I_W,I_Vis,I_MRP_US,O_Establ_Y,O_Size,O_Loc_T,O_T,I_O_Sales,I_Fat_C_Low Fat,I_Fat_C_Regular,...,I_category_Health and Hygiene,I_category_Household,I_category_Meat,I_category_Others,I_category_Seafood,I_category_Snack Foods,I_category_Soft Drinks,I_category_Starchy Foods,I_Recalled_NO,I_Recalled_YES
0,9.30,0.049228,0.927507,2009,1,0,Carrefour,0.283587,1,0,...,0,0,0,0,0,0,0,0,1,0
1,5.92,0.059063,0.072068,2019,1,2,C-Town,0.031419,0,1,...,0,0,0,0,0,0,1,0,0,1
2,17.50,0.051398,0.468288,2009,1,0,Carrefour,0.158115,1,0,...,0,0,1,0,0,0,0,0,1,0
3,19.20,0.000000,0.640093,2008,1,2,Family Basket,0.053555,0,1,...,0,0,0,0,0,0,0,0,1,0

**Data Normalization using Z-score for the linear regression**

In [39]:
foodLR['I_Vis']=(foodLR['I_Vis']-foodLR['I_Vis'].mean())/(foodLR['I_Vis'].std())
foodLR['I_MRP_US']=(foodLR['I_MRP_US']-foodLR['I_MRP_US'].mean())/(foodLR['I_MRP_US'].std())
foodLR['I_O_Sales']=(foodLR['I_O_Sales']-foodLR['I_O_Sales'].mean())/(foodLR['I_O_Sales'].std()) #??

In [40]:
foodLR.head(4)

,I_W,I_Vis,I_MRP_US,O_Establ_Y,O_Size,O_Loc_T,O_T,I_O_Sales,I_Fat_C_Low Fat,I_Fat_C_Regular,...,I_category_Health and Hygiene,I_category_Household,I_category_Meat,I_category_Others,I_category_Seafood,I_category_Snack Foods,I_category_Soft Drinks,I_category_Starchy Foods,I_Recalled_NO,I_Recalled_YES
0,9.30,-0.970340,1.747351,2009,1,0,Carrefour,0.910548,1,0,...,0,0,0,0,0,0,0,0,1,0
1,5.92,-0.907734,-1.488936,2019,1,2,C-Town,-1.018381,0,1,...,0,0,0,0,0,0,1,0,0,1
2,17.50,-0.956528,0.010040,2009,1,0,Carrefour,-0.049235,1,0,...,0,0,1,0,0,0,0,0,1,0
3,19.20,-1.283709,0.660011,2008,1,2,Family Basket,-0.849053,0,1,...,0,0,0,0,0,0,0,0,1,0